<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" parallel="none" name="C:/Users/aulia_p502/IdeaProjects/SeleniumProject">
        <classes>
            <class name="SampleCheck.SeleniumTestng"></class>
        </classes>
    </test>
</suite>